body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.font-righteous {
    font-family: 'Righteous', cursive;
}

.bg-black {
    background: #3c3c3c;
}
.bg-white {
    background: #ffffff;
}
.bg-red {
    background: #ff4800;
}
.bg-yellow {
    background: #ffa800;
}

.iconImage {
    width: 20px;
    margin-right: 10px;
}

.center-wrapper {
    width: 85%;
    margin:0 auto;
}


/*====================
        HEADER
======================*/


header {
    padding:10px 0px;
    transition: all 300ms ease-in;
}

header .header-logo {
    flex-grow: 1;
}
header .header-logo-venue {
    font-size: 2.4rem;
}

header .header-logo-title {
    text-transform: uppercase;
}

/*====================
        FOOTER
======================*/

footer {
    padding:50px 0px;
    text-align: center;
    font-size: 60px;
    color:#ffffff;
    background: #ffa800;
}

footer .footer-copyright {
    font-size: 18px;
}

/*====================
        CARROUSEL
======================*/


.carrousel-wrapper {
    height:700px;
    overflow: hidden;
}

.carrousel-image {
    background-size: cover !important;
}

.artist-name {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 160px;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
    border: 2px solid #686767;
}

.artist-name .wrapper {
    border: 2px solid #686767;
    height: 121px;
    margin: 6px;
    text-align: center;
    color: #030202;
    letter-spacing: 18px;
    font-size: 2.4rem;
    padding: 21px 70px 0px 70px;
    text-transform: uppercase;
}

/*====================
        COUNTDOWN
======================*/

.countdown-wrapper {
    position:absolute;
    bottom: 0px;
    color:#ffffff;
}

.countdown-wrapper .countdown-top {
    background: #ff4800;
    font-size: 19px;
    padding: 10px;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
}

.countdown-wrapper .countdown-bottom {
    display: flex;
    background: #d93d00;
    padding: 10px 20px;
}

.countdown-wrapper .countdown-time {
    font-size: 70px;
    margin-right: 14px  ;
    padding-right: 49px;
}
.countdown-wrapper .countdown-item:last-child .countdown-time{
    border:none;
}

.countdown-wrapper .countdown-tag {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 7px;
}

/*====================
        VENUE INFO
======================*/

.info-wrapper {
    display: flex;
    padding: 170px 0px;
}

.info-wrapper .center-wrapper{
    display: flex;
}

.info-item {
    width:50%;
    color:#ffffff;
    text-align: center;
}
                      
.info-item .info-outer {
    width: 300px;
    border: 2px solid #828282;
    margin: auto;
    padding: 5px;
}

.info-item .info-inner { 
    border: 2px solid #828282;
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
    height: 22vw;
}

.info-item .info-inner:hover {
    background: #3e3e3e;
}

.info-item .info-icon-square {
    width: 100px;
    height: 100px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -54px;
    left: 100px;
}

.info-item .info-icon {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -30px;
    left: 124px;
}

.info-item .info-title {
    font-size: 28px;
    margin: 90px 0px 20px 0px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
}

.info-item .info-desc {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
}

/*====================
        HIGHLIGHTS
======================*/


.highlight-wrapper h2 {
    text-align: center;
    text-transform: uppercase;
    color:#2c2c2c;
    font-size: 52px;
    letter-spacing: 10px;
}

.highlight-wrapper .highlight-description {
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 30px 0px;
}

.discount-wrapper {
    display: flex;
    padding: 70px 0px;
}

.discount-wrapper .center-wrapper{
    display: flex;
    width: 85%;
    margin: 0 auto;
    align-items: center;

}

.discount-wrapper .discount-percentage {
    padding-right: 100px;
}

.discount-wrapper .discount-percentage span:nth-child(1) {
    color: #ff4800;
    font-size: 125px;
    font-weight: 400;
    display: block;
    line-height: 120px;
}

.discount-wrapper .discount-percentage span:nth-child(2) {
    color: #2c2c2c;
    font-size: 50px;
    font-weight: 400;
    display: block;
}


.discount-wrapper .discount-description h3 {
    font-size: 34px;
    font-weight: 100;
    margin: 0px;
    color: #2c2c2c;
}

.discount-wrapper .discount-description p { 
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}

.discount-wrapper .discount-description .btn-info{
    background-color: #ffa800;
    color: #fff;
}

/*====================
        PRICING
======================*/

.pricing-section {
    padding: 70px 0px;
}

.pricing-section h2 {
    margin: 0;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.pricing-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.pricing-wrapper .center-wrapper{
    flex-direction: row;
    display: flex;
    
}

.pricing-wrapper .pricing-item{
    flex-grow: 1;
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
}

.pricing-wrapper .pricing-inner-wrapper {
    border:2px solid #ffa800;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}

.pricing-inner-wrapper .pricing-title {
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #ffa800;
    padding-bottom: 20px;
}
.pricing-inner-wrapper .pricing-title span:nth-child(1) {
    font-size: 50px;
    display: block;
}
.pricing-inner-wrapper .pricing-title span:nth-child(2) {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
}
.pricing-inner-wrapper .pricing-description {
    color: #b8b8b8;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding: 20px 0px;
    min-height: 70px;
}

.pricing-item .pricing-inner-wrapper .pricing-btn {
    background-color: #ffa800;
    color: #fff;
    align-self: center;
}


/*====================
        LOCATION    
======================*/

.location-wrapper {
    position:relative;
}

.location-tag {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.location-tag div{
    background: #2c2c2c;
    color: #ffffff;
    text-transform: uppercase;
    width: 220px;
    margin: 0 auto;
    font-size: 29px;
    padding: 15px 20px;
    text-align: center;
}